*{margin:0;padding: 0;}
ul{
    list-style: none;
}
a:link, a:visited{
    color: #363636;
    text-decoration: none;
}
.wrap .section{
    box-sizing: border-box;
}
.wrap .section:nth-child(1){background:url(./images/img/one1.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(2){background:url(./images/img/two.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(3){position: relative;}
.wrap .section:nth-child(3) .slide:nth-child(1){background:url(./images/midn/mid1.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(3) .slide:nth-child(2){background:url(./images/midn/mid2.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(3) .slide:nth-child(3){background:url(./images/midn/mid3.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(3) .slide:nth-child(4){background:url(./images/midn/mid4.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(3) .slide:nth-child(5){background:url(./images/midn/mid5.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(4){position: relative;}
.wrap .section:nth-child(4) .slide:nth-child(1){background:url(./images/raive/rv1.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(4) .slide:nth-child(2){background:url(./images/raive/rv2.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(4) .slide:nth-child(3){background:url(./images/raive/rv3.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(4) .slide:nth-child(4){background:url(./images/raive/rv4.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(4) .slide:nth-child(5){background:url(./images/raive/rv5.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(5){position: relative;}
.wrap .section:nth-child(5) .slide:nth-child(1){background:url(./images/ad/ab1.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(5) .slide:nth-child(2){background:url(./images/ad/ab2.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(5) .slide:nth-child(3){background:url(./images/ad/ab3.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(5) .slide:nth-child(4){background:url(./images/ad/ab4.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(5) .slide:nth-child(5){background:url(./images/ad/ab5.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6){position: relative;}
.wrap .section:nth-child(6) .slide:nth-child(1){background:url(./images/calendar/bk.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(2){background:url(./images/calendar/bk2.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(3){background:url(./images/calendar/bk3.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(4){background:url(./images/calendar/bk4.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(5){background:url(./images/calendar/bk5.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(6){background:url(./images/calendar/bk6.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(7){background:url(./images/calendar/bk7.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(6) .slide:nth-child(8){background:url(./images/calendar/bk8.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(7){position: relative;}
.wrap .section:nth-child(7) .slide:nth-child(1){background:url(./images/ld/main.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(7) .slide:nth-child(2){background:url(./images/ld/ld1.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(7) .slide:nth-child(3){background:url(./images/ld/ld2.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(7) .slide:nth-child(4){background:url(./images/ld/ld3.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(7) .slide:nth-child(5){background:url(./images/ld/ld4.jpg) ;background-size: 100% 100%;}
.wrap .section:nth-child(8) .slide{
    background-color:#a5a4a4;
    position: relative;}
.wrap .section:nth-child(8) .detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.wrap .section:nth-child(8) .detail h2{
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #363636;
}
.wrap .section:nth-child(8) .detail p{
    font-weight: bold;
    font-size: large;
}
.wrap .section:nth-child(9){background:url(./images/img/last.jpg) ;background-size: 100% 100%;}